* {
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style: none;
  color: #d1d1d1;
  text-align: center;
  display: inline;
  font-size: 17px;
}

ul a {
  color: #d1d1d1;
  text-decoration: none;
}

a:hover{
  color: #000000;
  cursor: pointer;
}

h1 {
  color: #d1d1d1;
  text-align: center;
  font-size: 60px;
  line-height: 40px;
  padding: 15px;
}

h1:hover {
  color: #000000;
  cursor: pointer;
}

#top, #bottom, #left, #right {
  background: #d1d1d1;
  position: fixed;
  }

  #left, #right {
    top: 0; bottom: 0;
    width: 140px;
    }

    #left { left: 0; }

    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 20px;
    }

    #top { top: 0; }

    #bottom { bottom: 0; }