ul {
  list-style: none;
  color: #d1d1d1;
}

ul a {
  color: #d1d1d1;
  text-decoration: none;
}

a:hover{
  color: #000000;
}

#wrapper {
  color: #fff;
}

h1 {
  color: #d1d1d1;
}

h1:hover {
  color: #000000;
}

#top, #bottom, #left, #right {
  background: #d1d1d1;
  position: fixed;
  }

  #left, #right {
    top: 0; bottom: 0;
    width: 150px;
    }

    #left { left: 0; }

    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }

    #top { top: 0; }

    #bottom { bottom: 0; }